<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wake on LAN Server</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
    @layer utilities {
      .content-auto {
        content-visibility: auto;
      }
    }
  </style>
</head>
<body>
    <div class="lg:content-auto px-6 bg-slate-900 text-slate-100 min-h-screen min-w-screen">

        <div class="py-4">
            <h1 class="text-3xl pb-4">Wake on LAN packet sent to PC</h1>
        </div>
    </div>
</body>
</html>

